*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Comfortaa', cursive;
}

.backImg{
    top: 16%;
    width: 100%;
    position: fixed;
    opacity: 0.3;
}

/*logo row*/
h1{
    margin-top: 5%;
    font-size: 3.25rem;
    
}

.h2-signIn{
    margin-left: 0%;
}


/*form row*/
#form-sign-up{
position: fixed;
}

form{
    margin-top: 30%;
    padding: 10px;
}

button.submitButton{
    background-color: #5C5656;
    border-color: #5C5656;
}

/*nav row*/
nav{
    width: 100%;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left:0;
    background-color: #5C5656;
    z-index: 100;
}

nav a{
    margin-left: 30%;
    padding: 20px;
    width: 100%;
    display: block;
    text-decoration: none;
    color: whitesmoke;
}
  
h2{
    margin: 0;
    font-size: 1.25rem;
    left: 5;
}

/*media queries*/

@media(min-width:768px){

    h2{
      margin-left: 11%;
      font-size: 3rem;
    }

    .form-group{
        font-size: 3rem;
    }

    .form-control{
        font-size: 2rem;
    }

    #formSubmit{
        font-size: 2rem;
    }
  
    h1{
      margin-top: 5%;
      font-size: 9rem;
    }
  
    .inventoryTab{
        margin-left: 10%;
        font-size: 2.25rem;
    }

    p{
        font-size: 2.25rem;

    }
  
    
  
  };